/* Fonts Start */
@font-face {
  font-family: WarowniaBd;
  src: url(../fonts/helveticaneue/WarowniaBd.ttf);
}
@font-face {
  font-family: PTSans-Bold;
  src: url(../fonts/pt_sans/PTSans-Bold.ttf);
}
@font-face {
  font-family: PTSans-Regular;
  src: url(../fonts/pt_sans/PTSans-Regular.ttf);
}
/* Fonts End */
/* Common CSS */
body {
  font-family: PTSans-Regular;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}
/* Common CSS */
/* Header-Section Start */
header {
  background-color: #fcdb00;
  padding: 20px 0;
}
.logo-text {
  margin-left: 10px;
}
.logo-text h4 {
  font-family: PTSans-Bold;
  font-size: 30px;

  transition: 0.3s;
}
.logo-text h4:hover {
  color: #555555 !important;
}
/* Menu */
.menu ul li a {
  font-family: PTSans-Bold;
  font-size: 22px;
  color: #010101 !important;
  padding: 0 53px !important;

  transition: 0.3s;
}
.menu ul li a:hover {
  color: #555555 !important;
}
.menu ul li:last-child a {
  padding-right: 0 !important;
}
/* Header-Section End */
/* Slider-Section Start */
.slider_section {
  background-color: #fcdb00;
  padding-bottom: 100px;
}
/* Indicator */
.custom_indicators {
  bottom: -80px;
}
.custom_indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #010101 !important;
  opacity: 1;
}
.custom_indicators .active {
  background-color: red !important;
}
/* Slider-Text */
.slider-text {
  margin-top: 70px;
}
.slider-text h1 {
  margin-bottom: 20px;
  font-family: PTSans-Bold;
  font-size: 32px;
}
.slider-text h4 {
  margin-bottom: 20px;
  font-family: PTSans-Regular;
  font-size: 20px;
  color: #313841;
  width: 65%;
}
.slider-text p {
  margin-bottom: 40px;
  font-family: PTSans-Regular;
  font-size: 16px;
  color: #555555;
  width: 83%;
  line-height: 21px;
}
.slider-text ul {
  margin-bottom: 0 !important;
}
.slider-text ul li i {
  font-size: 40px;
  margin-right: 35px;

  transition: 0.3s;
}
.slider-text ul li i:hover {
  color: #fff;
}
.slider-text ul li:last-child i {
  margin-right: 0;
}

/* Slider-Section End */
/* Feature-Section Start */
.feature-section {
  padding-top: 100px;
  padding-bottom: 120px;
}
/* Feature-Title Start */
.feature-title h1 {
  margin-bottom: 20px;
  font-family: PTSans-Bold;
  font-weight: 700;
  font-size: 32px;
}
.feature-title p {
  font-family: PTSans-Regular;
  font-weight: 400;
  font-size: 22px;
  color: #313841;
  line-height: 25px;
  word-spacing: 2px;
}
/* Feature-Title End */

/* Feature-item Start */
.c_mt_70 {
  margin-top: 70px;
}
.feature-icon i {
  font-size: 50px;
  transition: 0.3s;
}
.feature-icon i:hover {
  font-size: 55px;
  color: #fcdb00;
}

.feature-text h2 {
  font-size: 22px;
  transition: 0.3s;
}
.feature-text h2:hover {
  color: #555555;
  letter-spacing: 0.7px;
}
.feature-text p {
  font-size: 16px;
  color: #898989;
}
/* Feature-item End */
/* Feature-Section End */
/* Contact-Section Start */
.contact-section {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #010101;
}
/*  */
.contact-title h1 {
  color: #fcdb00;
}
.contact-title p {
  color: #898989;
  margin-bottom: 40px;
}
/* Form-Start */
.custom_email {
  height: 50px;
  font-family: PTSans-Regular;
  font-weight: 400;
  font-size: 16px;
  color: #898989;
  padding: 0px 25px;
  transition: 0.3s;
}
.custom_email:focus {
  -webkit-box-shadow: 1px 2px 30px 2px rgba(252, 219, 0, 0.31);
  box-shadow: 1px 2px 30px 2px rgba(252, 219, 0, 0.31);
  letter-spacing: 0.5px;
}
.custom_btn {
  height: 50px;
  font-family: PTSans-Bold;
  font-weight: 700;
  font-size: 16px;
  background-color: #fcdb00;
  color: #010101;
  transition: 0.3s;
}
.custom_btn:hover {
  -webkit-box-shadow: 1px 2px 30px 2px rgba(252, 219, 0, 0.31);
  box-shadow: 1px 2px 20px 2px rgba(252, 219, 0, 0.31);
  color: #010101;
  letter-spacing: 0.5px;
}
.custom_btn:focus {
  box-shadow: none !important;
}
/* Form-End */
/* Social-Start */
.s_mt {
  margin-top: 70px;
}
.social-icon ul li {
  margin: 0 20px;
  background-color: #fcdb00;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 6px;
  transition: 0.3s;
}
.social-icon ul li:hover {
  -webkit-box-shadow: 1px 2px 30px 2px rgba(252, 219, 0, 0.31);
  box-shadow: 1px 2px 50px 2px rgba(252, 219, 0, 0.31);
}
.social-icon ul li a i {
  margin-top: 9px;
  font-size: 25px;
  color: #010101;
  transition: 0.3s;
}
.social-icon ul li:hover a i {
  color: #ea2027;
}
/* Social-End */
/* Contact-Section End */
/* Footer-Section Start */
.footer-section {
  padding-bottom: 120px;
  background-color: #010101;
}
.f1 address {
  margin-bottom: 5px !important;
  color: #fff;
  transition: 0.3s;
}
.f1 address:hover {
  color: #fcdb00;
  letter-spacing: 0.3px;
}
.f1 a {
  color: #fff;
  transition: 0.3s;
}
.f1 a:hover {
  color: #fcdb00;
  letter-spacing: 0.3px;
}
.f2 {
}
.f2 ul {
}
.f2 ul li {
}
.f2 ul li a {
  color: #fff;
  transition: 0.3s;
}
.f2 ul li a:hover {
  color: #fcdb00;
  letter-spacing: 0.3px;
}
/* Footer-Section End */
